.Registration_wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	overflow: auto;
	padding: 0px 15px;
	box-sizing: border-box;
	width: 100vw;
}
.Registration {
	margin-top: 10px;
	padding: 15px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 10px;

	&_loginBox {
		margin-top: 15px;
		text-align: center;
	}

	&_title {
		text-align: center;
		margin-bottom: 15px;
	}
	&_submitBtn {
		right: 0;
		left: 0;
		margin: auto;
	}
}
